{% extends "base.html" %}

{%block styles%}
	<!-- styling for forms; source http://www.emblematiq.com/lab/niceforms/-->
	<link rel="stylesheet" media="all" href="/media/css/niceforms-default.css" />
{%endblock styles%}

{%block content%}
	<!--menubar code; source: http://13styles.com/css-menus/wax/-->
	<div class="orange">
		<div id="waxcontainer">
			<div id="waxnav">
				<ul>
					<li><a href="/" title=""><span>Home</span></a></li>
					{%if user.is_authenticated%}
						<li><a href="/profiles/{{user.username}}" title="" class="current"><span>My Profile</span></a></li>
					{%endif%}
					<li><a href="/about" title=""><span>About Us</span></a></li>
				</ul>
			</div>
		</div>
	</div>	
	<p/>
	<div id="container">
		<form action="" method="post" class="niceform">
			<fieldset>
			<legend>Edit Profile</legend>
			{% for field in form %}
				<dl>		
				<dd>{{ field.label_tag }}</dd> 
				<dd> {{ field.errors }}</dd>
				<dd>{{ field }}</dd>     
				</dl>
			{% endfor %}
			<p><input type="submit" value="Submit" /></p>
			</fieldset>    
		</form>
	</div>

{%endblock content%}