{% extends "base.html" %}

{%block title%}
	DigiChef-About Us
{%endblock title%}

{% block content%}	
	<!--menubar code; modified from source: http://13styles.com/css-menus/wax/-->
	<div class="orange">
        <div id="waxcontainer">
			<div id="waxnav">
			<ul>
				<li><a href="/" title=""><span>Home</span></a></li>
				{%if user.is_authenticated%}
					<li><a href="/profiles/{{user.username}}" title=""><span>My Profile</span></a></li>
				{%endif%}
				<li><a href="/about" title="" class="current"><span>About Us</span></a></li>
			</ul>
			</div>
        </div>
	</div>	
	
	<div id='page'>
		<p> Group members: Dhruv (manager), Rob (software), Amy (documentation), Jue (Design), Chris (Quality)</p>
		<p> University of Nottingham Computer Science Students</p>
		<div class='clear'></div>	
	</div>
{% endblock %}
