{% extends "base.html" %}


{%block styles%}
	<link rel="stylesheet" media="all" href="/media/css/niceforms-default.css" />
{%endblock styles%}

{%block content%}
	<!--menubar code; source: http://13styles.com/css-menus/wax/-->
	<div class="orange">
		<div id="waxcontainer">
			<div id="waxnav">
				<ul>
					<li><a href="/" title=""><span>Home</span></a></li>
					<li><a href="" title=""><span>My Profile</span></a></li>
					<li><a href="/about" title=""><span>About Us</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	
	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% endif %}

	<br />
		
	<div id="container">
		<form method="post" action="{% url django.contrib.auth.views.login %}" class="niceform">
		<fieldset>
			<legend>Input Username/Password</legend>
			<dl>
				<dt><label for="email">{{ form.username.label_tag }}</label></dt>
				<dd>{{ form.username }}</dd>
			</dl>
			<dl>
				<dt><label for="email">{{ form.password.label_tag }}</label></dt>
				<dd>{{ form.password }}</dd>
			</dl>
			<input type="submit" value="login" />
			<input type="hidden" name="next" value="{{ next }}" />
		</fieldset>
		</form>
</div>

{% endblock %}
